<div class="booking-item row" {{action 'toggleExpanded'}}>
	<div class="col-xs-10">
		<div class="status">
			<span {{bind-attr class=":circle room.status"}}></span>
		</div>
		<div class="interval">
			{{room.pass_start}} - {{room.pass_stop}}
		</div>
		<div class="status-in-text">
			{{#if room.booked}}
				Bokat
			{{else}}
				Ledigt
			{{/if}}
		</div>
	</div>
	<div class="col-xs-2">
		{{#unless room.booked}}
			<div class="indicator pull-right">
				{{#if room.isExpanded}}
					<i class="fa fa-chevron-down rotate"></i>
				{{else}}
					<i class="fa fa-chevron-down"></i>
				{{/if}}
			</div>
		{{/unless}}
	</div>
</div>

{{#if isExpanded}}
	<div class="row footer">
		{{#unless isFormPresent}}
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				{{#if error.pass_unavail_error}}
					pass unavil
				{{/if}}
				{{#if error.pass_limit_error}}
					<div class="alert alert-danger" role="alert">
					  <span class="sr-only">Fel:</span>
					  <i class="fa fa-exclamation-triangle"></i> Du har tyvärr överskridit tillåtet antal pass för idag. 
					</div>
					
				{{/if}}
			</div>
		{{else}}
			{{#if showReciept}}
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					Detta pass är nu bokat! 
					<i class="fa fa-check"></i>
				</div>
			{{else}}
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<form>
						<div class="header">
							Boka det här passet
						</div>
						<div class="form-group">
							<label class="sr-only">Lånekortsnummer</label>
							{{input type="text" class="form-control" placeholder="Lånekortsnummer" value=librarycardNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">Personnummer</label>
							{{input type="text" class="form-control" placeholder="Personnummer" value=personalSecurityNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">Signatur</label>
							{{input type="text" class="form-control" placeholder="Signatur" value=signature}}
						</div>
						{{#if error.auth_error}}
							<div class="alert alert-danger" role="alert">
							  <span class="sr-only">Fel:</span>
							  <i class="fa fa-exclamation-triangle"></i> Kontrollera uppgifterna!
							</div>
						{{/if}}
						<div class="submit-btn form-group">
							<button id="sumbit-booking-btn" type="submit" {{action 'executeBooking' room.id}} {{bind-attr class=":btn :btn-primary isDisabled:disabled:enabled"}}>Boka</button>
						</div>
					</form>

				</div>
			{{/if}}
		{{/unless}}
	</div>
{{/if}}