<div {{bind-attr id=room.id}} {{bind-attr class=":booking-item :accordian-item :row room.bookable:bookable:muted"}} {{action 'toggleExpanded'}}>
	<div class="col-xs-10">
		<div class="status">
			<span {{bind-attr class=":circle room.status"}} data-toggle="tooltip" data-placement="right" title="{{get-status-string room.status}}"></span>
		</div>
		<div class="interval">
			{{room.pass_start}} - {{room.pass_stop}}
		</div>
		<div class="status-in-text">
			{{#if room.booked}}
				{{t 'statusStrings.booked'}} : {{room.signature}}
			{{else}}
				{{t 'statusStrings.available'}}
			{{/if}}
		</div>
	</div>
	<div class="col-xs-2">
		{{#unless room.booked}}
			{{#if room.bookable}}
			<div class="indicator pull-right">
				{{#if isExpanded}}
					<i class="fa fa-chevron-down rotate"></i>
				{{else}}
					<i class="fa fa-chevron-down"></i>
				{{/if}}
			</div>
			{{/if}}
		{{/unless}}
	</div>
</div>

{{#if isExpanded}}
	<div class="row footer">
		{{#unless isFormPresent}}
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				{{#if error.pass_unavail_error}}
					<div class="alert alert-warning" role="alert">
					  <span class="sr-only">Error:</span>
					  <i class="fa fa-exclamation-triangle"></i> {{t 'error.passUnavail'}} 
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>{{t 'closeButton'}}</button>
					</div>
					
				{{/if}}
				{{#if error.pass_limit_error}}
					<div class="alert alert-danger" role="alert">
					  <span class="sr-only">Error:</span>
					  <i class="fa fa-exclamation-triangle"></i> {{t 'error.passLimitError'}}
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>{{t 'closeButton'}}</button>
					</div>
				{{/if}}
			</div>
		{{else}}
			{{#if showReciept}}
				<div class="center-content col-xs-12 col-md-6 col-md-offset-3">
					<div>{{t 'success.bookSuccess'}}</div>
					<div class="book-feedback-graphics">
						<i class="fa fa-check"></i>
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>{{t 'closeButton'}}</button>
					</div>
				</div>
			{{else}}
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<form>
						<div class="header">
							{{t 'loginForm.header'}}
						</div>
						<div class="form-group">
							<label class="sr-only">{{t 'loginForm.patrionCardNumber'}}</label>
							{{input type="text" class="form-control cardnumber" placeholder=(t 'loginForm.patrionCardNumber') value=applicationController.user.librarycardNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">{{t 'loginForm.personalSecurityNumber'}}</label>
							{{input type="password" class="form-control" placeholder=(t 'loginForm.personalSecurityNumber') value=applicationController.user.personalSecurityNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">{{t 'loginForm.signature'}}</label>
							{{input type="text" class="form-control" placeholder=(t 'loginForm.signature') value=applicationController.user.signature}}
						</div>
						{{#if error.auth_error}}
							<div class="alert alert-danger" role="alert">
							  <span class="sr-only">Fel:</span>
							  <i class="fa fa-exclamation-triangle"></i> {{t 'error.checkLoginInformation'}}							
							</div>
						{{/if}}
						<div class="btn-area form-group">
							<button id="sumbit-booking-btn" type="submit" {{action 'executeBooking' room.id}} {{bind-attr class=":btn :btn-primary"}}>{{t 'loginForm.bookButton'}}</button>
						</div>
					</form>

				</div>
			{{/if}}
		{{/unless}}
	</div>
{{/if}}