<div {{bind-attr id=room.id}} class="booking-item row" {{action 'toggleExpanded'}}>
	<div class="col-xs-10">
		<div class="status">
			<span {{bind-attr class=":circle room.status"}}></span>
		</div>
		<div class="interval">
			{{room.pass_start}} - {{room.pass_stop}}
		</div>
		<div class="status-in-text">
			{{#if room.booked}}
				{{t 'statusStrings.booked'}}
			{{else}}
				{{t 'statusStrings.availible'}}
			{{/if}}
		</div>
	</div>
	<div class="col-xs-2">
		{{#unless room.booked}}
			<div class="indicator pull-right">
				{{#if isExpanded}}
					<i class="fa fa-chevron-down rotate"></i>
				{{else}}
					<i class="fa fa-chevron-down"></i>
				{{/if}}
			</div>
		{{/unless}}
	</div>
</div>

{{#if isExpanded}}
	<div class="row footer">
		{{#unless isFormPresent}}
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				{{#if error.pass_unavail_error}}
					<div class="alert alert-warning" role="alert">
					  <span class="sr-only">Error:</span>
					  <i class="fa fa-exclamation-triangle"></i> {{t 'error.passUnavail'}} 
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>Close</button>
					</div>
					
				{{/if}}
				{{#if error.pass_limit_error}}
					<div class="alert alert-danger" role="alert">
					  <span class="sr-only">Error:</span>
					  <i class="fa fa-exclamation-triangle"></i> {{t 'error.passLimitError'}}
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>Close</button>
					</div>
				{{/if}}
			</div>
		{{else}}
			{{#if showReciept}}
				<div class="center-content col-xs-12 col-md-6 col-md-offset-3">
					<div>{{t 'success.bookSuccess'}}</div>
					<div class="book-feedback-graphics">
						<i class="fa fa-check"></i>
					</div>
					<div class="btn-area form-group">
						<button class="btn btn-default" {{action 'toggleExpanded'}}>Close</button>
					</div>
				</div>
			{{else}}
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<form>
						<div class="header">
							Boka det här passet
						</div>
						<div class="form-group">
							<label class="sr-only">Lånekortsnummer</label>
							{{input type="text" class="form-control cardnumber" placeholder="Lånekortsnummer" value=librarycardNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">Personnummer</label>
							{{input type="text" class="form-control" placeholder="Personnummer" value=personalSecurityNumber}}
						</div>
						<div class="form-group">
							<label class="sr-only">Signatur</label>
							{{input type="text" class="form-control" placeholder="Signatur" value=signature}}
						</div>
						{{#if error.auth_error}}
							<div class="alert alert-danger" role="alert">
							  <span class="sr-only">Fel:</span>
							  <i class="fa fa-exclamation-triangle"></i> Kontrollera uppgifterna!
							</div>
						{{/if}}
						<div class="btn-area form-group">
							<button id="sumbit-booking-btn" type="submit" {{action 'executeBooking' room.id}} {{bind-attr class=":btn :btn-primary isDisabled:disabled:enabled"}}>Boka</button>
						</div>
					</form>

				</div>
			{{/if}}
		{{/unless}}
	</div>
{{/if}}