	<div class="booking-item row">
		<div class="col-xs-12 room-info">
			<div class="row">
				<div class="col-xs-12">
						<div class="info">
							<div class="time-countdown">
								{{#if hasStarted}}
									<div class="status"><span {{bind-attr class=":circle booking.status"}}></span> </div>{{t 'myBookings.countdownStrings.startedAgoBefore'}} {{startsIn}}
								{{else}}
									<div class="status"><span {{bind-attr class=":circle booking.status"}}></span></div> {{t 'myBookings.countdownStrings.startInBefore'}}  {{startsIn}}
								{{/if}}
							</div>
							<div class="date">
								{{getDate}} {{booking.pass_start}} - {{booking.pass_stop}}
							</div>
							<div class="room-title">
								{{booking.booking_object.place}} - {{booking.booking_object.name}}
							</div>


							<div class="row">
								<div class="col-xs-12 room-meta">
									{{booking.booking_object.seats}} {{t 'room.meta.seats'}}
									{{#if booking.booking_object.has_computer}}
									, {{t 'room.meta.computer'}}
									{{/if}}
									{{#if booking.booking_object.has_whiteboard}}
									, {{t 'room.meta.whiteboard'}}
									{{/if}}
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 room-location">
									{{return-safe-string getLibraryLocationName}}
								</div>
							</div>

						</div>
				</div>
			</div>
		</div>
	</div>

	{{#if showConfirmSuccess}}
		<div class="row">
			<div class="center-content col-xs-12 col-md-6 col-md-offset-3">
				<div>{{t 'success.confirmSuccess'}}</div>
				<div class="book-feedback-graphics">
					<i class="fa fa-check"></i>
				</div>
				<div class="btn-area form-group">
					<button class="btn btn-default" {{action 'closeButtonClicked' booking.id}}>{{t 'closeButton'}}</button>
				</div>
			</div>
		</div>
	{{else}}
		<div class="row">
			<div class="col-xs-12 center-content btn-area">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-2">
						{{#if booking.confirmable }}
							<button {{action 'confirmBooking' booking.id}} {{bind-attr class=":btn :btn-primary :btn-block booking.status"}}>{{t 'myBookings.confirmBookingButton'}}</button>
						{{/if}}
					</div>
					<div class="col-xs-12 col-sm-4">
						{{#if booking.cancelable}}
							<button class="btn btn-danger btn-block" {{action 'cancelBooking' booking.id}}>{{t 'myBookings.cancelBookingButton'}}</button>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	{{/if}}
