
<h2 class="center">{{t 'mainNav.nav1'}}</h2>

<div id="filter" class="row">
	<!-- pick library -->
	<div class="col-xs-12 col-md-6">
		<label>{{t 'filter.dropdown.libraries.prompt'}}</label>
		<label class="ub-select">
		{{view Ember.Select class="ub-select"
	       content=controllers.application.librariesSortedAsc
	       optionValuePath="content.id"
	       optionLabelPath="content.display_title"
	       value=selectedLibrary
	       prompt=(t 'filter.dropdown.libraries.prompt')

	    }}
		</label>
	</div>

	<div class="col-xs-12 col-md-6">
		<label>{{t 'filter.dropdown.dates.prompt'}}</label>
		<label class="ub-select">
		{{view Ember.Select class="ub-select"
	       content=controllers.application.dates
	       optionValuePath="content.id"
	       optionLabelPath="content.title"
	       value=selectedDate
	    }}
		</label>
	</div>
</div>



<div class="row">
	<div class="col-xs-12">
		{{#unless showPleaseSelectPrompt}}
			{{list-of-rooms rooms=model.bookingObjects selectedDay=selectedDate selectedDateString=getSelectedDateString selectedLibrary=getSelectedLibraryName}}
		{{else}}
			<div class="pleaseSelectPromptText center-content">{{t 'filter.pleaseSelectPromptText'}}</div>
		{{/unless}}
	</div>
</div>
