<div id="filter" class="row">
	<!-- pick library --> 
	<div class="col-xs-12 col-md-6">
		<label>{{t 'filter.dropdown.libraries.prompt'}}</label>
		{{view Ember.Select class="form-control"
	       content=controllers.application.librariesSortedAsc
	       optionValuePath="content.id"
	       optionLabelPath="content.display_title"
	       value=selectedLibrary
	       prompt=(t 'filter.dropdown.libraries.prompt')
	       
	    }}
	</div>

	<div class="col-xs-12 col-md-6">
		<label>{{t 'filter.dropdown.dates.prompt'}}</label>
		{{view Ember.Select class="form-control"
	       content=controllers.application.dates
	       optionValuePath="content.id"
	       optionLabelPath="content.title"
	       value=selectedDate
	    }}
	</div>
</div>



<div class="row">
	<div class="col-xs-12">
		{{#unless showPleaseSelectPrompt}}
			{{list-of-rooms rooms=model selectedDay=selectedDate selectedDateString=getSelectedDateString selectedLibrary=getSelectedLibraryName}}
		{{/unless}}
	</div>
</div>
