<div id="room-single-view">
	<nav class="go-back-btn row">
		<div class="col-xs-12">
			{{#link-to 'home.index'}}
				<i class="fa fa-chevron-left"></i> {{t 'backToListOfRoomsNav'}}
			{{/link-to}}
		</div>
	</nav>

	<div class="row">
		<div class="room-info col-xs-12">
			<div class="library">
			{{return-safe-string getSelectedLibraryName}}
			</div>
			<div class="room-title">
				{{model.name}}
			</div>
			<div class="room-meta">
				{{model.seats}} {{t 'room.meta.seats'}}{{#if model.has_computer}},{{/if}}
				{{#if model.has_computer}}
					 {{t 'room.meta.computer'}}{{#if model.has_whiteboard}},{{/if}}
				{{/if}}
				{{#if model.has_whiteboard}}
					{{t 'room.meta.whiteboard'}}{{#if model.comment}},{{/if}}
				{{/if}}
				{{#if model.comment}}
					 {{model.comment}}
				{{/if}}
			</div>
			<div class="date">
				{{getDate}}
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12">
		<ul class="list-bookings accordian-list list-unstyled">
			{{#each item in model.bookings}}
				<li>
					{{booking-item name=model.name room=item isExpandedId=isExpandedId applicationController=controllers.application logOut='logOut' updateCount='updateCount'}}
				</li>
			{{else}}
				<p>{{t 'filter.noResultForActiveFilter'}}</p>
			{{/each}}
		</ul>
		</div>
	</div>
</div>
