
{{log model}}

<div id="my-bookings">
	<div class="header">
		{{t 'myBookings.header'}}
	</div>
	<ul class="list-unstyled accordian-list">
		{{#each item in model}}
			<li {{bind-attr class="item.status"}}>
				{{my-booking-item booking=item libraries=controllers.application.librariesSorted isExpandedId=isExpandedId reloadModel='reloadModel'}}
			</li>
		{{else}}
			<p>{{t 'myBookings.noBookingsMessage'}}</p>
		{{/each}}
	</ul>
</div>