<div id="spinner">
	<i class="fa fa-circle-o-notch fa-spin"></i>
</div>

{{partial 'header'}}

<div class="container">
	<div class="row">
		<nav class="col-xs-12 col-md-3">
			<ul class="list-group">
				<li class="list-group-item">{{#link-to 'home'}}{{t 'mainNav.nav1'}}{{/link-to}}</li>
				<li class="list-group-item">{{#link-to 'bookings'}}{{t 'mainNav.nav2'}} 
				{{#if numberOfBookings }}
					<span class="badge pull-right">{{numberOfBookings}}</span>
				{{/if}}
				{{/link-to}}

				</li>
			</ul>
		</nav>

		<main class="col-xs-12 col-md-9">
			{{liquid-outlet}}
		</main>
	</div>
</div><!-- end container -->
